@import url('//fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;900&display=swap');
@import url('//fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap');

.route-enter {
  opacity: 0;
  transform: translateY(30%) translateX(-50%);
  position: absolute;
  top: 0;
  left: 50%;
}
.route-enter-active {
  opacity: 1;
  transform: translateY(0) translateX(-50%);
  transition: opacity 300ms, transform 300ms;
  position: absolute;
  top: 0;
  left: 50%;
}
.route-exit {
  opacity: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
.route-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
